/*** MAIN ELEMENTS ***/

	.entity-block {
		box-shadow: 0 0 1px 1px rgba(0,0,0, .2);
		margin-bottom: 10px;
		padding: 3px 5px;
		background: #fff;
		color: #000;
		border-radius: 5px;
	}

	.edit-block {
		overflow: hidden;
		background: #eee;
		display: none;
		padding: 5px;
		margin-bottom: 3px;
	}

	.half-screen-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		background-color: #aaa;
		height: 50%;
		width: 100%;
	}

/*** end MAIN ELEMENTS ***/




html,
body,
[ng-view] {
	height: 100%;
}
html * {
	box-sizing: border-box;
}

.home-screen {
	background: url(../uploads/sport-wallpaper-1-darked.jpg) center center no-repeat;
	height: 100%;
	color: #fff;
	background-size: cover;
}











/*** POP UP ***/
	.pop-up-wrapper {
		display: none;
		position: fixed;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
	}

	.close-layer {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0, .0);

		transition: .4s;
	}
	.active-close-layer {
		background-color: rgba(0,0,0, .6);
	}

	.pop-up {
		margin: 50px auto;
		position: relative;
		width: 350px;
		overflow: hidden;
		padding-top: 20px;
		background: #fff;
		box-shadow: 0 0 15px 2px #000;
		color: #000;
		border-radius: 5px;
	}
/*** end POP UP ***/











/*** SIDE MENU ***/

	.side-menu-wrapper {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
	}

	.side-menu {
		overflow: auto;
		width: 300px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -300px;

		color: #333;
		background-color: #fff;
		border-right: 3px solid #53c343;

		transition: .2s;
	}

	.active-side-menu {
		left: 0;
	}

	.btn-show-menu {
		position: relative;
		top: 7px;
		right: 10px;
	}

/*** end SIDE MENU ***/




/*** BUTTONS ***/
	/* main-btn */
	.main-btn {
		width: 51px;
		height: 51px;
		color: #fff;
		font-size: 20px;
		padding: 10px;

		display: block;
		background-color: transparent;
		border: 0;
		border-radius: 5px;
		outline: none;
	}
	.main-btn:hover {
		background-color: rgba(255,255,255, .3);
	}
	.main-btn:active {
		background-color: rgba(0,0,0, .3);
	}
		.btn-show-menu {
			background-image: url(../img/iconset-1.png);
			background-position: 348px 737px;
		}
		.btn-to-top {
			background-image: url(../img/iconset-1.png);
			background-position: 738px 235px;
			position: absolute;
			top: 10px;
			right: 10px;
		}

	.circled-btn {
		border: 3px solid #aaa;
		border-radius: 30px;
		padding: 5px 15px;
		font-size: 20px;
		color: #fff;
		background: #aaa;
		transition: .2s;
	}
	.circled-btn:hover {
		background: rgba(0,0,0, .2);
		text-decoration: none;
		color: #fff;
	}
	.circled-btn:active {
		background: rgba(0,0,0, .4);
	}

	.bg-lime-color {background-color: #3d3;}
	.br-lime-color {border-color: #3d3;}
	.lime-color {color: #3d3;}

/*** end BUTTONS ***/
















/*** PRODUCT ***/

	.add-to-cart-btn {}

	.new-cost {
		font-weight: 200;
		color: #3a3;
	}
	.old-cost {
		color: #e99;
		text-decoration: line-through;
		font-style: italic;
	}

	.not-in-store {
		color: #ff8989;

		padding-right: 3px;
		margin-top: -1px;
	}

	.product {
		padding: 20px 0;
		border-bottom: 1px solid #53c343;
		overflow: hidden;
	}

	.w33_333per {width: 33.333%;}

	.br_1 {border: 1px solid #000;}

/*** end PRODUCT ***/



/*** FOOTER ***/
	footer a {color: inherit;}
	footer a:hover {
		color: rgba(255,255,255, .8);
		text-decoration: none;
		transition: .2s;
	}

	.author-link img {
		border-radius: 50%;
		border: 2px solid rgba(255,255,255, .5);
	}
	.author-link:hover img {
		border-color: #fff;
		transition: .5s;
	}
/*** end FOOTER ***/



/*** HEADER ***/
	.search-input {
		border-radius: 30px;
		opacity: .7;

		transition: .3s;
	}
	.search-input:focus {opacity: 1;}

	.arrow-bottom,
	.arrow-top {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		margin: 0 3px;
		position: relative;
		top: -3px;
		transform: rotate(135deg);
	}

	.arrow-top {
		transform: rotate(-45deg);
		top: 2px;
	}
/*** end HEADER ***/



/*** ADDs to BOOTSTRAP ***/

	.h200 {height: 200px;}	

	.thumbnail-fixed-height {
		overflow: hidden;
		position: relative;
	}
	.thumbnail-fixed-height::after,
	.thumbnail-fixed-height::before {
		content: 'a';
		font-size: 0;
		position: absolute;
		bottom: 0;
		left: 0;

		height: 0;
		width: 100%;

		box-shadow: 0 0 30px 25px rgba(255,255,255, .7);
	}
	.thumbnail-fixed-height::before {
		box-shadow: 0 0 7px 3px rgba(255,255,255, .8);
	}

/*** end ADDs to BOOTSTRAP ***/




/*** MAIN CLASSES ***/

	/* POSITION STYLES */
		.relative {position: relative;}
		.z-0 {z-index: 0;}
		.z-1 {z-index: 1;}
		.z-max {z-index: 9999;}

		/*PADDINGS*/
			.p5  {padding: 5px;}
			.p10 {padding: 10px;}
			.p15 {padding: 15px;}
			.p20 {padding: 20px;}
			.p25 {padding: 25px;}
		
			.pt5  {padding-top: 5px;}
			.pt10 {padding-top: 10px;}
			.pt15 {padding-top: 15px;}
			.pt20 {padding-top: 20px;}
			.pt25 {padding-top: 25px;}
		
			.pr5  {padding-right: 5px;}
			.pr10 {padding-right: 10px;}
			.pr15 {padding-right: 15px;}
			.pr20 {padding-right: 20px;}
			.pr25 {padding-right: 25px;}
		
			.pb5  {padding-bottom: 5px;}
			.pb10 {padding-bottom: 10px;}
			.pb15 {padding-bottom: 15px;}
			.pb20 {padding-bottom: 20px;}
			.pb25 {padding-bottom: 25px;}

			.pl5  {padding-left: 5px;}
			.pl10 {padding-left: 10px;}
			.pl15 {padding-left: 15px;}
			.pl20 {padding-left: 20px;}
			.pl25 {padding-left: 25px;}
		/* end PADDINGS*/
	/* end POSITION STYLES */


	/* BLOCK STYLES */
		.clear {clear: both;}
		._center {
			margin-left: auto;
			margin-right: auto;
			display: table;
		}
		.overflow {overflow: hidden;}
	/* end BLOCK STYLES */

	/* WIDTH */
		.w100per {width: 100%;}
	/* end WIDTH */

	/* COLORS */
		/* BACKGROUND */
			.bg-blue {background-color: #337ab7;}
		/* TEXT */
			.blue {color: #337ab7;}
			.white {color: #fff;}
		/* BORDER */
			.br-blue {border-color: #337ab7;}
	/* end COLORS */

/*** end MAIN CLASSES ***/