<div class="home-screen">
	<div class="container">
		<div ng-include src="'part-templates/btn-menu.html'"></div>
		<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->
		
		<div class="p25"></div>
		<div class="p25"></div>
		
		<h1 class="text-center title-1" style="font-size: 40px">Lifestyle Online Shop</h1>
		
		<h2 class="text-center" style="font-size: 22px">
			The Best Online Shop of Sport Equipment. We sell best products of the most famous brands such as Nike, Adidas, Quicksilver and others.
		</h2>
		
		<div class="p10"></div>
		
		<a href="/#/products" class="btn-show-pop-up  circled-btn bg-lime-color br-lime-color _center">See Products</a>
	</div>


</div>