﻿<div class="home-screen">

	<div class="container">
		<div ng-include src="'part-templates/btn-menu.html'"></div>
		<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->
		
		<div class="clear"></div>
		
		<h2 class="text-center txt-grey">
			Login Page
		</h2>

		<div class="p10"></div>
		
		<div class="row">
			<div class="col-md-4"> <input type="text" required ng-model="userDataForLogin.login" placeholder="Login" class="form-control"> </div>
	
			<div class="col-md-4"> <input type="text" required ng-model="userDataForLogin.password" placeholder="Password" class="form-control"> </div>

			<div class="col-md-4">  <button ng-click="User.login(userDataForLogin)" class="btn btn-success  w100per">Enter</button> </div>
		</div>



		<div class="p25"></div>
		
		<a href="/#/products" class="btn-show-pop-up  circled-btn bg-lime-color br-lime-color _center">See Products</a>
	</div>

</div>


<div ng-include src="'part-templates/footer-2.html'"></div>
<!-- html-code of footer-2 will be put -->