<div id="top-of-page"></div>

<div class="half-screen-background bg-blue"></div>

<div class="container  z-1 relative white">

	<div ng-include src="'part-templates/btn-menu.html'"></div>
	<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->

	<div class="clear pt10"></div>

	<h1 class="text-center">Orders List</h1>

	<div class="pt25"></div>



	<div ng-repeat="item in collections[nameOfCollection]" style="margin-bottom: 50px;" class="row entity-block" id="{{item._id}}">
		<input type="hidden" value="{{$index}}">
			
		<h4 class="text-center pb15"> Order # {{item._id}} </h4>


		<div class="entity-block overflow" ng-repeat="product in item.products">
			<div class="col-md-4  overflow pt10">

				<div ng-if="!product.isInStore" class="not-in-store pull-right" style="">&nbsp;not in store</div>

				<span ng-if="product.label.text" class="label label-default" style="background: {{product.label.color}}">&nbsp;{{ product.label.text }}</span>

				<img ng-src="{{product.imgUrl}}" width="150px" alt="" class="_center">
			</div>

			<div class="col-md-4  overflow">
				<h3 class="title2">{{ product.name}}</h3>
				<div class="product-cost">{{ product.cost }} $</div>

				<div class=""> X {{ product.amount }} </div>

				<div class=""> Total Product Cost — {{ product.cost * product.amount }} $ </div>
			</div>

			<div class="col-md-4  overflow">
				<h3 class="title3">Description</h3>
				<p>{{product.description}}</p>
			</div>
		</div>



		<br><br>
		<h4>Total Order Cost — {{ item.totalCost }} $</h4>
		<h4>Total Amount of Products — {{ item.totalAmount }}</h4>

		<br><br>
		<h4 class="text-center"> Client Data </h4>
		<div class="row">
			<div class="col-md-2  text-center"> photo </div>
			<div class="col-md-2  text-center"> name </div>
			<div class="col-md-2  text-center"> role </div>
			<div class="col-md-3  text-center"> mail </div>
			<div class="col-md-3  text-center"> phone </div>
		</div>
		<div class="row">
			<div class="col-md-2  text-center">
				<img ng-src="{{item.user.imgUrl}}" width="80" height="auto" alt="">
			</div>
			<div class="col-md-2  text-center"> {{ item.user.name }} </div>
			<div class="col-md-2  text-center"> {{ item.user.role }} </div>
			<div class="col-md-3  text-center"> {{ item.user.mail }} </div>
			<div class="col-md-3  text-center"> {{ item.user.phone }} </div>
		</div>

		<br><br><br>

		<button ng-click="delete(item._id, nameOfCollection)" class="btn btn-danger _center"> Delete This Order </button>
		<div class="p5"></div>
	</div>

</div>





<br>
<br>


<div ng-include src="'part-templates/footer.html'"></div>
<!-- html-code of footer will be put -->