<div id="top-of-page"></div>

<div class="half-screen-background bg-blue"></div>

<div class="container  z-1 relative">

	<div ng-include src="'part-templates/btn-menu.html'"></div>
	<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->

	<div class="clear"></div>

	<a href="/#/products" class="btn btn-default  blue _center">Continue Shoping</a>

	<div class="pt25"></div>

	<h1 class="text-center white">Your Order</h1>

	<div class="pt25"></div>

	<div class="entity-block overflow" ng-repeat="product in orderData.products">
		<div class="col-md-4  overflow pt10">

			<div ng-if="!product.isInStore" class="not-in-store pull-right" style="">&nbsp;not in store</div>

			<span ng-if="product.label.text" class="label label-default" style="background: {{product.label.color}}">&nbsp;{{ product.label.text }}</span>

			<img ng-src="{{product.imgUrl}}" width="150px" alt="" class="_center">
		</div>

		<div class="col-md-4  overflow">
			<h3 class="title2">{{ product.name}}</h3>
			<div class="product-cost">{{ product.cost }} $</div>

			<div class=""> X {{ product.amount }} </div>

			<div class=""> Total Product Cost — {{ product.cost * product.amount }} $ </div>
		</div>

		<div class="col-md-4  overflow">
			<h3 class="title3">Description</h3>
			<p>{{product.description}}</p>
		</div>
	</div>

	<br><br>
	<div ng-if="orderData.products[0]">
		<h4>Total Order Cost — {{ orderData.totalCost }} $</h4>
		<h4>Total Amount of Products — {{ orderData.totalAmount }}</h4>

		<br><br>
		<h4 class="text-center"> Client Data </h4>
		<div class="row">
			<div class="col-md-2  text-center"> photo </div>
			<div class="col-md-2  text-center"> name </div>
			<div class="col-md-2  text-center"> role </div>
			<div class="col-md-3  text-center"> mail </div>
			<div class="col-md-3  text-center"> phone </div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<img ng-src="{{orderData.user.imgUrl}}" width="80" height="auto" alt=""  class="_center">
			</div>
			<div class="col-md-2  text-center"> {{ orderData.user.name }} </div>
			<div class="col-md-2  text-center"> {{ orderData.user.role }} </div>
			<div class="col-md-3  text-center"> {{ orderData.user.mail }} </div>
			<div class="col-md-3  text-center"> {{ orderData.user.phone }} </div>
		</div>

		<br><br>
		<button ng-click="saveOrder(orderData)" class="btn btn-success _center">Оформить Заказ</button>
	</div>

	<br><br><br>

</div>


<div ng-include src="'part-templates/footer.html'"></div>
<!-- html-code of footer will be put -->