<div id="top-of-page"></div>

<div class="half-screen-background bg-blue"></div>

<div class="container  z-1 relative white">
	<div class="row">
		<div class="col-md-3 pt20">
			<input type="text" ng-model="searchRequst.name" class="form-control search-input" placeholder="Search Product...">
		</div>

		<div class="col-md-4 pt25  pull-left">
			<span id="sort-by-cost" ng-click="sortSwitcher('cost')">
				sort by Cost
				<span ng-if="byReducing && clickedFrom === 'cost'" class="arrow-bottom"></span>
				<span ng-if="!byReducing && clickedFrom === 'cost'" class="arrow-top"></span>
			</span>

			<span class="pl15"></span>

			<span id="sort-by-name" ng-click="sortSwitcher('name')">
				sort by Name
				<span ng-if="byReducing && clickedFrom === 'name'" class="arrow-bottom"></span>
				<span ng-if="!byReducing && clickedFrom === 'name'" class="arrow-top"></span>
			</span>
		</div>

		<div class="col-md-4 pull-right">
			<div ng-include src="'part-templates/btn-menu.html'"></div>
			<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->
		</div>
	</div>

	<div class="pt20"></div>

	<div class="p25">
			<a href="/#/order" class="btn btn-default blue _center">See Your Order</a>
	</div>

	<h1 class="text-center  white">Products List</h1>

	<div class="pt25"></div>


	<div class="row">

		<!-- 'name' — property in object 'item'; search by this property -->
		<!-- filter trying to find objects, that have property 'name' with value, that we get from variable searchRequst.name -->

		<!-- propertyName — property name of object 'item'; sort by this property  -->

		<!-- byReducing — values are true or false  -->
		<!-- if true — array will be sorted  by reducing -->
		<!-- if false — array will be sorted  by increasing -->
		<div class="col-sm-6 col-md-4"  ng-repeat="item in collections[nameOfCollection] | filter : {'name': searchRequst.name} | orderBy : propertyName : byReducing" id="{{item._id}}">

			<!-- Look at the data of object in .info-block -->
			<div class="thumbnail  info-block" id="info-{{item._id}}">
				<div>
					<div ng-if="!item.isInStore" class="not-in-store pull-right" style="">&nbsp;not in store</div> <br>
					<img ng-src="{{item.imgUrl}}" alt="" height="200" width="auto" class="_center">
				</div>

				<div class="caption   thumbnail-fixed-height h200">
					<h3 class="text-center">
					    {{item.name}}
					    <span ng-if="item.label.text" class="label label-default" style="background: {{item.label.color}}">&nbsp;{{ item.label.text }}</span>

					</h3>

				    <div ng-if="logedUser.role === 'admin'" style="color: #888">id : {{ item._id }}</div>

					<h4 class="row text-center">
						<div ng-if="!item.oldCost"> {{item.cost}}$ </div>
						<div ng-if="item.oldCost">
							 <span class="new-cost"> {{item.cost}}$ </span> &nbsp;
							 <span class="old-cost"> {{item.oldCost}}$ </span>
						 </div>
					</h4>
					<div class="text-center">
						{{item.description}}
					</div>
				</div>

				<div class="pt20"></div>
				<div class="row">
					<div class="col-md-12">
						<button ng-click="addToCart(item)" class="btn btn-success  w100per add-to-cart-btn"> Add to Cart </button>
					</div>
				</div>
				<div ng-if="logedUser.role === 'admin'"  class="row">
					<div class="pt10"></div>
					<div class="col-md-6">
						<button ng-click="edit(item)" class="btn btn-default  w100per"> Edit </button>
					</div>
					<div class="col-md-6">
						<button ng-click="delete(item._id, nameOfCollection)" class="btn btn-danger  w100per"> Delete </button>
					</div>	
				</div>

			</div>


			<!-- Edit the data of object in .edit-block -->
			<div class="thumbnail  edit-block" id="edit-{{item._id}}">

				<div>
					<img ng-src="{{item.imgUrl}}" alt="" height="200" width="auto" class="_center">
					<div class="pt5"></div>
					<input type="text" required ng-model="collections[nameOfCollection][$index].imgUrl" value="{{item.imgUrl}}" placeholder="edit Url of image" class="form-control">
				</div>

				<div class="caption">
					<h3 class="text-center">
						<input type="text" required ng-model="collections[nameOfCollection][$index].name" value="{{item.name}}" placeholder="edit Name" class="form-control">

						<div class="pt10"></div>

						<input type="text" required ng-model="collections[nameOfCollection][$index].label.text" value="{{item.label.text}}" placeholder="edit Label-Text" class="form-control">

						<div class="pt5 pb5" style="font-size: 14px">
							<span class="label" style="background: #ffcc00;">#ffcc00</span>
							<span class="label" style="background: #78ff00;">#78ff00</span>
							<span class="label" style="background: #ff4800;">#ff4800</span>
						</div>

						<input type="text" required ng-model="collections[nameOfCollection][$index].label.color" value="{{item.label.color}}" placeholder="edit Label-Color" class="form-control">

						<div class="pt5"></div>
					    <span ng-if="item.label.text" class="label label-default" style="background: {{item.label.color}}">&nbsp;{{ item.label.text }}</span>

					</h3>

					<h4 class="text-center">
						<div class="pt10"></div>
						<div ng-if="!item.oldCost"> {{item.cost}}$ </div>
						<div ng-if="item.oldCost">
							 <span class="new-cost"> {{item.cost}}$ </span> &nbsp;
							 <span class="old-cost"> {{item.oldCost}}$ </span>
						 </div>
						
						<div class="row">
							<div class="col-md-6">
								<input type="text" required ng-model="collections[nameOfCollection][$index].cost" value="{{item.cost}}" placeholder="edit Cost" class="form-control col-md-6">
							</div>
							<div class="col-md-6">
								<input type="text" required ng-model="collections[nameOfCollection][$index].oldCost" value="{{item.oldCost}}" placeholder="edit Old Cost" class="form-control  col-md-6">
							</div>			
						</div>
					</h4>

					<div class="text-center">
						<textarea  required ng-model="collections[nameOfCollection][$index].description" value="{{item.description}}" placeholder="edit Description" class="form-control"></textarea>
					</div>
					
					
					<div class="p10"></div>
					<div ng-if="!item.isInStore" class="is-product-in-store pull-right" style="color: #ff8989">&nbsp;not in store</div>
					<div ng-if="item.isInStore" class="is-product-in-store pull-right" style="color: #5d5">&nbsp;in store</div> <br>

					<h4 class="text-center"> Is product in store? </h4>
					
					<div class="_center">

						<input id="isInStore{{item._id}}" type="checkbox" ng-model="collections[nameOfCollection][$index].isInStore" value="true" />&nbsp;

						<label for="isInStore{{item._id}}">
							In Store
						</label>

					</div>

					<div class="pt25">
					   <button ng-click="update(item, nameOfCollection)" class="btn btn-success"> Update </button>
					   <button ng-click="cancel(item._id, nameOfCollection, $index)" class="btn btn-warning cancel-btn"> Cancel </button>
					   <button ng-click="close(item._id)" class="btn btn-default close-btn"> Close </button>
					</div>
				</div>

				<div ng-if="logedUser.role === 'admin'"  class="row">
					<div class="pt10"></div>
					<div class="col-md-12">
						<button ng-click="delete(item._id, nameOfCollection)" class="btn btn-danger  w100per"> Delete </button>
					</div>	
				</div>
			</div>

		</div>
	</div>



	<!-- Input and Save data of new object in .save-block -->
	<div class="save-block  row"  ng-if="logedUser.role === 'admin'">
	<form>
		<h2 class="text-center">Create New Product</h2>

		<div class="col-md-2">
			<img ng-if="newProduct.imgUrl" ng-src="{{newProduct.imgUrl}}" width="50" height="auto" alt="">

			<input type="text" required ng-model="newProduct.imgUrl" placeholder="Url of image" class="form-control">
		</div>

		<div class="col-md-2"> <input type="text" required ng-model="newProduct.name" placeholder="Name" class="form-control"> </div>
		<div class="col-md-1"> <input type="text" required ng-model="newProduct.cost" placeholder="Cost" class="form-control"> </div>
		<div class="col-md-3"> <input type="text" required ng-model="newProduct.description" placeholder="Description" class="form-control"> </div>
		<div class="col-md-1"> <input type="text" required ng-model="newProduct.label" placeholder="Label" class="form-control"> </div>
		<div class="col-md-2"> <input type="text" required ng-model="newProduct.isInStore" placeholder="Is in Store?" class="form-control"> </div>

		<div class="col-md-1">
		   <button type="submit" ng-click="save(newProduct, nameOfCollection)" class="btn btn-primary"> Save </button>
		</div>
	</form>
	</div>


</div>



<br>
<br>
<br>


<div ng-include src="'part-templates/footer.html'"></div>
<!-- html-code of footer will be put -->