﻿<div class="home-screen">

	<div class="container">
		<div ng-include src="'part-templates/btn-menu.html'"></div>
		<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->
		
		<div class="clear"></div>
		
		<h2 class="text-center txt-grey">
			Register Page
		</h2>
		
		<div class="p10"></div>
		
		<div class="row">
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.login" placeholder="Login" class="form-control">
			</div>
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.password" placeholder="Password" class="form-control">
			</div>
	
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.imgUrl" placeholder="Url of Photo" class="form-control">
				<img ng-if="userDataForRegister.imgUrl" ng-src="{{userDataForRegister.imgUrl}}" width="50" height="auto" alt="" style="border: 1px solid #ccc; border-radius: 5px;">
			</div>
	
			<br><br>
	
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.name" placeholder="Name" class="form-control">
			</div>
	
			<div ng-init="userDataForRegister.role = 'user'"></div>
	
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.mail" placeholder="Mail" class="form-control">
			</div>
	
			<div class="col-md-4">
				<input type="text" required ng-model="userDataForRegister.phone" placeholder="Phone" class="form-control">
			</div>
		</div>



		<div class="p10"></div>

		<button ng-click="User.register(userDataForRegister)" class="btn btn-success _center">Register</button>



		<div class="p25"></div>
		
		<a href="/#/products" class="btn-show-pop-up  circled-btn bg-lime-color br-lime-color _center">See Products</a>
	</div>

</div>


<div ng-include src="'part-templates/footer-2.html'"></div>
<!-- html-code of footer-2 will be put -->