<div id="top-of-page"></div>

<div class="half-screen-background bg-blue"></div>

<div class="container  z-1 relative white">

	<div ng-include src="'part-templates/btn-menu.html'"></div>
	<!-- the next html-code will be put: <button ng-click="showMenu()" class="btn-show-menu main-btn pull-right"></button> -->

	<div class="clear"></div>

	<h1 class="text-center">Users List</h1>

	<div class="row  pt25 pb15">
		<div class="col-md-1 text-center"> photo </div>
		<div class="col-md-1 text-center"> _id </div>
		<div class="col-md-1 text-center"> name </div>
		<div class="col-md-1 text-center"> role </div>
		<div class="col-md-1 text-center"> login </div>
		<div class="col-md-1 text-center"> password </div>
		<div class="col-md-2 text-center"> mail </div>
		<div class="col-md-2 text-center"> phone </div>
		<div class="col-md-2 text-center"> actions </div>
	</div>

	<div ng-repeat="item in collections[nameOfCollection]" class="row entity-block" id="{{item._id}}">

		<input type="hidden" value="{{$index}}">

		<!-- Edit the data of object in .edit-block -->
		<div class="edit-block" id="edit-{{item._id}}">
			<div class="col-md-1">
				<img ng-src="{{item.imgUrl}}" width="50" height="auto" alt="">

				<input type="text" required ng-model="collections[nameOfCollection][$index].imgUrl" value="{{item.role}}" placeholder="edit Url of image" class="form-control">
			</div>
			<div class="col-md-1">
				<input type="text" readonly ng-model="collections[nameOfCollection][$index]._id" value="{{item._id}}" placeholder="Id" class="form-control">
			</div>

			<div class="col-md-1">
				<input type="text" required ng-model="collections[nameOfCollection][$index].name" value="{{item.name}}" placeholder="edit Name" class="form-control">
			</div>
			<div class="col-md-1">
				<input type="text" required ng-model="collections[nameOfCollection][$index].role" value="{{item.role}}" placeholder="edit Role" class="form-control">
			</div>
			<div class="col-md-1">
				<input type="text" required ng-model="collections[nameOfCollection][$index].login" value="{{item.login}}" placeholder="edit Login" class="form-control">
			</div>
			<div class="col-md-1">
				<input type="text" required ng-model="collections[nameOfCollection][$index].password" value="{{item.password}}" placeholder="edit Password" class="form-control">
			</div>
			<div class="col-md-2">
				<input type="text" required ng-model="collections[nameOfCollection][$index].mail" value="{{item.mail}}" placeholder="edit Mail" class="form-control">
			</div>
			<div class="col-md-2">
				<input type="text" required ng-model="collections[nameOfCollection][$index].phone" value="{{item.phone}}" placeholder="edit Phone" class="form-control">
			</div>

			<div class="col-md-1" >
			   <button ng-click="update(item, nameOfCollection)" class="btn btn-success"> Update </button>
			   <div class="pt10"></div>
			   <button ng-click="cancel(item._id, nameOfCollection, $index)" class="btn btn-warning cancel-btn"> Cancel </button>
			   <button ng-click="close(item._id)" class="btn btn-default close-btn"> Close </button>
			</div>
		</div>

		<!-- Look at  data of object in .info-block -->
		<div class="info-block" id="info-{{item._id}}">
			<div class="col-md-1">
				<img ng-src="{{item.imgUrl}}" width="50" height="auto" alt="">
			</div>
			<div class="col-md-1  text-center"> {{ item._id }} </div>
			<div class="col-md-1  text-center"> {{ item.name }} </div>
			<div class="col-md-1  text-center"> {{ item.role }} </div>
			<div class="col-md-1  text-center"> {{ item.login }} </div>
			<div class="col-md-1  text-center"> {{ item.password }} </div>
			<div class="col-md-2  text-center"> {{ item.mail }} </div>
			<div class="col-md-2  text-center"> {{ item.phone }} </div>
			<div class="col-md-1  text-center">
				<button ng-click="edit(item)" class="btn btn-default"> Edit </button>
			</div>
			<div class="col-md-1" ng-if="logedUser.role !== item.role">
				<button ng-click="delete(item._id, nameOfCollection)" class="btn btn-danger"> Delete </button>
			</div>
		</div>
	</div>


	<!-- Input and Save data of new object in .save-block -->
	<div class="save-block  row"  ng-if="logedUser.role === 'admin'">
	<form>
		<h2 class="text-center">Create New User</h2>

		<div class="col-md-2">
			<img ng-if="newUser.imgUrl" ng-src="{{newUser.imgUrl}}" width="50" height="auto" alt="">

			<input type="text" required ng-model="newUser.imgUrl" placeholder="Url of image" class="form-control">
		</div>

		<div class="col-md-1"> <input type="text" required ng-model="newUser.name" placeholder="Name" class="form-control"> </div>
		<div class="col-md-1"> <input type="text" required ng-model="newUser.role" placeholder="Role" class="form-control"> </div>
		<div class="col-md-1"> <input type="text" required ng-model="newUser.login" placeholder="Login" class="form-control"> </div>
		<div class="col-md-1"> <input type="text" required ng-model="newUser.password" placeholder="Password" class="form-control"> </div>
		<div class="col-md-2"> <input type="text" required ng-model="newUser.mail" placeholder="Mail" class="form-control"> </div>
		<div class="col-md-2"> <input type="text" required ng-model="newUser.phone" placeholder="Phone" class="form-control"> </div>
		<div class="col-md-2">
		   <button type="submit" ng-click="save(newUser, nameOfCollection)" class="btn btn-primary"> Save </button>
		</div>
	</form>
	</div>


</div>


<br>
<br>
<br>



<div ng-include src="'part-templates/footer.html'"></div>
<!-- html-code of footer will be put -->


