<!doctype html>

<html ng-app="productsApp">
<head>	
	<title>productsApp</title>

	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

<div ng-view></div> <!-- angular-directive for displaying your templates -->


<div class="pop-up-wrapper">
	<div ng-click="closeLayer()" class="close-layer"></div>
	<div class="pop-up">
		<h3 class="title3">You have called this pop up. Would you like to do something?</h3>
		<div class="action-buttons-wrapper">
			<button class="pop-up-btn-1">Yes</button>
			<button class="pop-up-btn-2">No</button>
		</div>
	</div>
</div>

<div class="side-menu-wrapper">
	<div ng-click="closeLayer()" class="close-layer"></div>

	<div class="side-menu">
		<h3 class="text-center">Menu</h3>
		<menu class="main-menu">
			<li><a ng-click="closeLayer()" href="/#/products" class="menu-item">Products</a></li>
			<li><a ng-click="closeLayer()" href="/#/users" class="menu-item">Users</a></li>
			<li><a ng-click="closeLayer()" href="/#/orders" class="menu-item">Orders</a></li>
			<li><a ng-click="closeLayer()" href="/#/home" class="menu-item">Home Page</a></li>
			<li ng-if="!logedUser.name"><a ng-click="closeLayer()" href="/#/register" class="menu-item">Register</a></li>
			<li ng-if="!logedUser.name"><a ng-click="closeLayer()" href="/#/login" class="menu-item">Login</a></li>

			<li ng-if="logedUser.name">
				Loged as <code>{{ logedUser.name }}</code>
				<button ng-click="User.exit()" class="btn btn-default">Sign out</button>
				<br>
				<span style="color: #aaa;">role:</span> <span style="color: #555;"> {{logedUser.role}} </span>
			</li>
		</menu>

		<br>
		<a  ng-click="closeLayer()" href="/#/order" class="btn btn-primary _center">See Your Order</a>


		<!--<h4 class="text-center  pt25">Your Order</h4>

		<div class="thumbnail"  ng-repeat="item in orderData.products">
			<div>
				<div ng-if="!item.isInStore" class="not-in-store pull-right" style="">&nbsp;not in store</div> <br>
				<img ng-src="{{item.imgUrl}}" alt="" height="100" width="auto" class="_center">
			</div>

			<div class="caption   thumbnail-fixed-height h200">
				<h3 class="text-center">
				    {{item.name}}
				    <span ng-if="item.label.text" class="label label-default" style="background: {{item.label.color}}">&nbsp;{{ item.label.text }}</span>

				</h3>

				<h4 class="row text-center">
					<div ng-if="!item.oldCost"> {{item.cost}}$ </div>
					<div ng-if="item.oldCost">
						 <span class="new-cost"> {{item.cost}}$ </span> &nbsp;
						 <span class="old-cost"> {{item.oldCost}}$ </span>
					 </div>
				</h4>
				<div class="text-center">
					{{item.description}}
				</div>
			</div>

			<div class="pt20"></div>
			<div class="row">
				<div class="col-md-12">
					<button ng-click="addToCart(item)" class="btn btn-success  w100per add-to-cart-btn"> Add to Cart </button>
				</div>
			</div>

		</div>-->

	</div>

</div>




<script src="js/lib/js.cookie.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>

<script src="js/app.js"></script>



</body>
</html>