<footer class="p10 white w100per"  style="position: absolute; bottom: 0;">

	<a href="http://brainstorage.me/alienworkshop" class="author-link _center">
		produced by Alex Chaliy
		<img src="img/my-logo-small.jpg" alt="" width="50px" height="auto">
	</a>

</footer>