<footer class="p10 bg-blue white overflow relative">
	<div ng-click="scrollTo('top-of-page', 500)" class="main-btn btn-to-top pull-right"></div>

	<a href="http://brainstorage.me/alienworkshop" class="author-link _center">
		produced by Alex Chaliy
		<img src="img/my-logo-small.jpg" alt="" width="50px" height="auto">
	</a>

</footer>

